<div ng-app="azulao.layout" ng-controller="LayoutCtrl">
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/main">Azulão</a>
        </div>
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/main')}"><a href="#/main">Início</a></li>
		  <li ng-class="{ active: isActive('/perfil')}"><a href="#/perfil">Perfil</a></li>
          <li ng-class="{ active: isActive('/userlist')}"><a href="#/userlist">Users</a></li>
          <li ng-class="{ active: isActive('/mygrouplist')}"><a href="#/mygrouplist">My Groups</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <li><form class="navbar-form" role="search">
                <div class="input-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="selected" uib-typeahead="user.displayname for user in userlist | filter:{displayname:selected} | limitTo:8">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form></li>
            <li><div ng-if="isUserLoggedIn">
					<button class="btn btn-default" ng-click="signOut()">Sign Out</button>
			</div></li>
        </div>
      </div>
    </nav>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view></div>

    <hr/>
    <footer class="text-center text-muted">
        Azulão 2016
    </footer>
</div>
</div>
