<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="azulao" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="azulao" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="azulao" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="azulao" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Azulão</title>
  <meta name="description" content="Um outro pássaro azul.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="bower_components/angular-waypoints/dist/angular-waypoints.all.min.js"></script>
  <script src="components/lazy-scroll.min.js"></script>
  <script src="app.js"></script>
  <script src="angular/perfil/perfil.js"></script>
  <script src="angular/layout/layout.js"></script>
  <script src="angular/userlist/userlist.js"></script>
  <script src="angular/login/login.js"></script>
  <script src="angular/profileEdit/profileEdit.js"></script>
  <script src="angular/groupEdit/groupEdit.js"></script>
  <script src="angular/group/group.js"></script>
  <script src="angular/mygrouplist/mygrouplist.js"></script>
  <script src="angular/main/main.js"></script>

</head>
<body>
  <%-body%>
</body>
</html>
