<!-- If is logging in, show login interface -->
<div ng-if="isLoggingIn == true">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
		</div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
					<input type="text" class="form-control" id="usrname" placeholder="Enter username" ng-model="logUser.username">
				</div>
				<div class="form-group">
					<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
					<input type="text" class="form-control" id="psw" placeholder="Enter password" ng-model="logUser.password">
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="" checked>Remember me</label>
				</div>
				<button class="btn btn-success btn-block" ng-click="login()"><span class="glyphicon glyphicon-off"></span> Login</button>
			</form>
		</div>
		<div class="panel-footer">
			<p>Not a member? <a href ng-click="setIsLoggingIn(false)" >Sign Up</a></p>
			<p>Forgot <a href="#">Password?</a></p>
		</div>
	</div>
</div>

<!-- If is registering, show register interface -->
<div ng-if="isLoggingIn == false">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><span class="glyphicon glyphicon-lock"></span> Register</h4>
		</div>
		<div class="panel-body">
			<form name="registerForm">
				<div class="form-group">
					<label class="control-label">Name:</label>
					<input type="text" class="form-control" name="reg-displayname" ng-model="regUser.displayname" placeholder="Display Name...">
				</div>
				<div class="form-group">
					<label class="control-label">Username:</label>
					<input type="text" class="form-control" name="reg-username" ng-model="regUser.username" placeholder="Username...">
				</div>
				<div class="form-group">
					<label class="control-label">E-mail:</label>
					<input type="text" class="form-control" name="reg-email" ng-model="regUser.email" placeholder="E-mail...">
				</div>
				<div class="form-group">
					<label class="control-label">Password:</label>
					<input type="password" class="form-control" name="reg-password" ng-model="regUser.password" placeholder="Password...">
				</div>
				<div class="form-group">
					<label class="control-label">Birth-date:</label>
					<div class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup ng-init="isCalendarOpened = false" is-open="isCalendarOpened" ng-required="true" close-text="Close" name="reg-birthdate" ng-model="regUser.birthdate">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="isCalendarOpened = !isCalendarOpened"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<button type="button" class="btn btn-default" ng-click="register()">Register</button>
			</form>
		</div>
		<div class="panel-footer">
			<p>Already a member? <a href ng-click="setIsLoggingIn(true)" >Sign In</a></p>
		</div>
	</div>
</div>
