<div ng-controller="GroupInfoCtrl">
	<!-- Group's Panel -->
	<div class="well well-lg bg-info" id="GroupPanel">
	<!-- Well Panel -->
		<div class="row">
			<div class="col-md-9">
			    <h1 id="groupName">{{currentGroup.groupname}}</h1>
			    <hr>
			    <p class="lead text-justify">{{currentGroup.description}}</p>
			</div>
		</div>
	</div>
</div> <!-- ProfileCtrl -->

<div ng-if="isMember === true">
	<div ng-controller="GroupPostCtrl as post">
		<!-- Post Box -->
		<div class="well well-lg bg-info" id="post-box">
			<h2>New Post</h2>
			<form name="postForm">
					<div class="row form-group">
						<input type="text" class="form-control" name="post-title" ng-model="tempPost.title" placeholder="Title...">
					</div>
					<div class="row form-group">
						<textarea form="postForm" class="form-control" name="post-content" ng-model="tempPost.content" placeholder="Content..."></textarea>
					</div>
					<button type="button" class="btn btn-primary" ng-click="addPost()">Post</button>
			</form>
		</div>

	</div> <!-- PostCtrl -->
</div>

<div ng-controller="GroupPostListCtrl as postList">
	<!-- Posts Area -->
	<div class="panel-group" id="posts-area">
		<!-- Posts Repeat -->
		<div ng-repeat="post in posts" class="panel panel-default" lazy-scroll="reachEndEvent()">
			<div class="panel-heading">
				<div class="row vertical-align">
					<div class="col-md-1">
						<img ng-src={{post.user.photo}} ng-click="goToUserPage(post.user)" class="img-rounded" alt="Foto de perfil" width="75" height="75">
					</div>
					<div class="col-md-11 text-left">
						<h3>{{post.title}}</h3>
					</div>
				</div>
			</div>
			<div class="panel-body"><p>{{post.content}}</p></div>
			<div class="panel-footer text-muted text-right">{{('0' + post.timestamp.getHours()).slice(-2) + ":" + ('0' + post.timestamp.getMinutes()).slice(-2) + " " + post.timestamp.toDateString() + " - " + post.location}}</div>
		</div>	<!-- Posts Repeat -->
	</div>	<!-- Posts Area -->

</div> <!-- PostListCtrl -->
