<!-- Search box -->
<div class="input-group">
	<input type="text" class="form-control" name="group-search" placeholder="Group Name..." ng-model="searchGroup" uib-typeahead="group.groupname for group in grouplist | filter:{groupname:$viewValue} | limitTo:4">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
	</span>
</div>

<hr />

<!-- List -->
<div class="panel-group" id="posts-area">
	<div ng-repeat="group in grouplist" class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<h2 ng-click="goToGroupPage(group)">{{group.groupname}}</h2>
				<small ng-if="group.owner != null" ng-click="goToUserPage(group.owner)"><span class="glyphicon glyphicon-star-empty"></span>{{"    " + group.owner.username}}</small>
			</div>
		</div>
		<div class="panel-body"><p>{{group.description}}</p></div>
	</div>
</div>
