<!-- Search box -->
<div class="input-group">
	<input type="text" class="form-control" name="user-search" placeholder="User Name..." ng-model="searchUser" uib-typeahead="user.displayname for user in userlist | filter:{displayname:$viewValue} | limitTo:4">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
	</span>
</div>

<hr />

<!-- List -->
<div class="panel-group" id="posts-area">
	<div ng-repeat="user in userlist" class="panel panel-primary">
		<div class="panel-heading">
			<div class="row vertical-align">
				<img ng-src={{user.photo}} class="img-rounded" alt="Foto de perfil" width="75" height="75">
				<h2 ng-click="goToUserPage(user)">{{user.displayname}}<muted>{{user.username}}</muted></h2>
			</div>
		</div>
		<div class="panel-body"><p>{{user.description}}</p></div>
	</div>
</div>
