<div ng-controller="MainProfileCtrl">
	<!-- User's Panel -->
	<div class="well well-lg bg-info" id="ProfilePanel">
	<!-- Well Panel -->
		<div class="row">
			<div class="col-md-9">
			    <h1 id="displayName">{{currentUser.displayname}}</h1>
			    <p class="text-muted">{{"@" + currentUser.username}}</p>
			    <hr>
			    <p class="lead text-justify">{{currentUser.description}}</p>
			</div>
			<div class="col-md-3 text-center">
			    <img ng-src={{currentUser.photo}} class="img-rounded" alt="Foto de perfil" width="200" height="200">
			</div>
		</div>
	</div>
</div> <!-- ProfileCtrl -->


<div ng-controller="MainPostCtrl as mainPost">
	<!-- Post Box -->
	<div class="well well-lg bg-info" id="post-box">
		<h2>New Post</h2>
		<form name="postForm">
			<div class="row form-group">
				<input type="text" class="form-control" name="post-title" ng-model="tempPost.title" placeholder="Title...">
			</div>
			<div class="row form-group">
				<textarea form="postForm" class="form-control" name="post-content" ng-model="tempPost.content" placeholder="Content..."></textarea>
			</div>
			<button type="button" class="btn btn-primary" ng-click="addPost()">Post</button>
		</form>
	</div>

</div> <!-- PostCtrl -->

<div ng-controller="MainPostListCtrl as mainPostList">
	<!-- Posts Area -->
	<div class="panel-group" id="posts-area">
		<!-- Posts Repeat -->
		<div ng-repeat="post in posts" class="panel panel-default" lazy-scroll="reachEndEvent()">
			<div class="panel-heading">
				<div class="row vertical-align">
					<div class="col-md-1">
						<img ng-src={{post.user.photo}} ng-click="goToUserPage(post.user)" class="img-rounded" alt="Foto de perfil" width="75" height="75">
					</div>
					<div class="col-md-11 text-left">
						<div ng-if="post.group != null">
							<h3>
								{{post.title}}
								<span class="glyphicon glyphicon-chevron-right"></span><span ng-click="goToGroupPage(post.group)">{{" " + post.group.groupname}}</span>
							</h3>
						</div>
						<div ng-if="post.group == null">
							<h3>{{post.title}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body"><p>{{post.content}}</p></div>
			<div class="panel-footer text-muted text-right">{{('0' + post.timestamp.getHours()).slice(-2) + ":" + ('0' + post.timestamp.getMinutes()).slice(-2) + " " + post.timestamp.toDateString() + " - " + post.location}}</div>
		</div>	<!-- Posts Repeat -->
	</div>	<!-- Posts Area -->

</div> <!-- PostListCtrl -->
