<div id="EditProfileModal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4><span class="glyphicon glyphicon-lock"></span> Edit Profile</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="editForm">
			<div class="form-group">
				<label for="dname"><span class="glyphicon glyphicon-pencil"></span> Name</label>
				<input type="text" class="form-control" id="dname" placeholder={{user.displayname}} ng-model="user.displayname">
			</div>
			<div class="form-group">
				<label for="desc"><span class="glyphicon glyphicon-align-justify"></span> Description</label>
				<textarea form="editForm" class="form-control" id="desc" placeholder={{user.description}} ng-model="user.description"></textarea>
			</div>
			<div class="form-group">
				<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
				<input type="text" class="form-control" id="usrname" placeholder={{user.username}} ng-model="user.username">
			</div>
			<div class="form-group">
				<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
				<input type="text" class="form-control" id="psw" placeholder={{user.password}} ng-model="user.password">
			</div>
			<div class="form-group">
				<label for="em"><span class="glyphicon glyphicon-envelope"></span> E-mail</label>
				<input type="text" class="form-control" id="em" placeholder={{user.email}} ng-model="user.email">
			</div>
			<div class="form-group">
				<label for="image">
					<img ng-src={{user.photo}} class="img-rounded" alt="Foto de perfil" width="75" height="75">
				</label>
				<input type="text" class="form-control" id="image" placeholder={{user.photo}} ng-model="user.photo">
			</div>
		</form>
		
		<!-- List of groups -->
		<hr>
		<label><span class="glyphicon glyphicon-home"></span> Groups</label>
		<div class="panel panel-primary" style=" max-height: 150px;min-height: 150px;overflow-y: scroll;">
			<table class="table">
				<tbody ng-repeat="group in currentUser.grouplist">
					<tr>
						<!-- Group Name -->
						<td><b><big>{{group.groupname}}</big></b></td>
						<!-- Group Owner -->
						<td>{{(group.owner == pCurrentUser) ? "Owner" : ""}}</td>
						<!-- Buttons -->
						<td>
							<!-- If user is owner -->
							<div ng-if="group.owner == currentUser">
								<p><button type="button" class="btn btn-default" ng-click="editGroup(group)"><i class="glyphicon glyphicon-info-sign"></i></button>
								<button type="button" class="btn btn-default" ng-click="deleteGroup(group)"><i class="glyphicon glyphicon-remove-sign"></i></button></p>
							</div>
							
							<!-- Else if user isn't owner -->
							<div ng-if="group.owner != currentUser">
								<p><button type="button" class="btn btn-default" ng-click="removeFromGroup(currentUser, group)"><i class="glyphicon glyphicon-minus-sign"></i></button></p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- Add group -->
		<div class="input-group">
			<input type="text" class="form-control" name="group-add" ng-model="tempGroup.groupname" placeholder="Group Name...">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="addGroup()"><i class="glyphicon glyphicon-plus-sign"></i></button>
			</span>
		</div>
		
		<hr>
		<!-- Done -->
		<button class="btn btn-success btn-block" ng-click="done()"><span class="glyphicon glyphicon-off"></span> Done</button>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger btn-default pull-left" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		<button class="btn btn-danger btn-default pull-left" ng-click="deleteAccount()"><span class="glyphicon glyphicon-remove"></span> Delete Account</button>
	</div>
	
</div>

