<div id="EditGroupModal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4><span class="glyphicon glyphicon-lock"></span> Edit Group</h4>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="form-group">
				<label for="dname"><span class="glyphicon glyphicon-pencil"></span> Name</label>
				<input type="text" class="form-control" id="dname" placeholder={{tempGroup.groupname}} ng-model="tempGroup.groupname">
			</div>
			<div class="form-group">
				<label for="desc"><span class="glyphicon glyphicon-align-justify"></span> Description</label>
				<input type="textarea" class="form-control" id="desc" placeholder={{tempGroup.description}} ng-model="tempGroup.description">
			</div>
		</form>
		
		<!-- List of users -->
		<hr>
		<label><span class="glyphicon glyphicon-user"></span> Users</label>
		<div class="panel panel-primary" style=" max-height: 150px;min-height: 150px;overflow-y: scroll;">
			<table class="table">
				<tbody ng-repeat="user in editingGroup.userlist">
					<td><b><big>{{user.displayname}}</big></b></td>
					<!-- If user is owner but not current -->
					<div ng-if="editingGroup.owner == currentUser && user != currentUser">
						<td><button type="button" class="btn btn-default" ng-click="removeFromGroup(user, editingGroup)"><i class="glyphicon glyphicon-remove-sign"></i></button></td>
					</div>
				</tbody>
			</table>
		</div>
		
		<!-- Add user -->
		<div class="input-group">
			<input type="text" class="form-control" name="user-add" ng-model="tempAddUser.displayname" placeholder="User Name...">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="addUserToGroup()"><i class="glyphicon glyphicon-plus-sign"></i></button>
			</span>
		</div>
		
		<hr>
		
		<button class="btn btn-success btn-block" ng-click="done()"><span class="glyphicon glyphicon-off"></span> Done</button>
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger btn-default pull-left" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
	</div>
	
</div>
